<my-instance-banner class="d-block mb-4" rounded="true"></my-instance-banner>

@if (requiresApproval()) {
  <my-alert type="primary" class="text-center">
    <p>
      <ng-container i18n>A moderator of {{ instanceName }} will have to approve your request after you have submitted the form.</ng-container>

      @if (averageResponseTime) {
        <ng-container i18n>They usually respond within {{ averageResponseTime | myDaysDurationFormatter }}.</ng-container>
      }
    </p>
  </my-alert>
}

<div class="why">
  <h3 i18n>Why create an account?</h3>

  <p i18n>
    You probably noticed that no account is needed to watch content on {{ instanceName }}.
    <br />
    However, if you log into an account on {{ instanceName }} you will be able to:
  </p>

  <ul>
    <li i18n><strong>Comment</strong> on videos</li>
    <li i18n><strong>Subscribe</strong> to channels and receive notifications of new videos</li>
    <li i18n>Access your <strong>viewing history</strong></li>

    @if (!videoUploadDisabled()) {
      <li i18n>Create a channel to <strong>publish videos</strong></li>
    }
  </ul>
</div>

<div>
  <h4 i18n>Do you use Mastodon, ActivityPub or an RSS feed aggregator?</h4>

  <p i18n>You can use it to follow {{ instanceName }} and stay updated on your tool of choice.</p>
</div>

<div class="callout callout-primary callout-light">
  <div class="mascot-container" style="min-width: 140px">
    <img class="mascot" width="140px" height="160px" src="/client/assets/images/mascot/happy.svg" alt="mascot"/>
  </div>

  <div class="callout-content">
    <h4 i18n>This platform is an alternative to social media owned by corporations and media moguls</h4>

    <p i18n>
      {{ instanceName }} is proudly powered by <a class="link-primary" target="_blank" rel="noopener noreferrer" href="https://joinpeertube.org">PeerTube</a>, a content-publishing platform developed by Framasoft.
      <a class="link-primary" target="_blank" rel="noopener noreferrer" href="https://framasoft.org">Framasoft</a> is a French non-profit organization offering substitutes for Big Tech's digital tools
    </p>
  </div>
</div>
