<my-signup-step-title mascotImageName="success">
  @if (requiresApproval()) {
    <strong i18n>Account request sent</strong>
  } @else {
    <ng-container i18n>
      <strong>Welcome</strong>
      <div>to {{ instanceName() }}</div>
    </ng-container>
  }
</my-signup-step-title>

<my-alert type="primary">
  @if (requiresApproval()) {
    <p i18n>Thank you! Your account request has been sent.</p>
  } @else {
    <p i18n>Your account has been created!</p>
  }

  @if (requiresEmailVerification()) {
    @if (requiresApproval()) {
      <p i18n>
        <strong>Check your email</strong> to validate your account and complete your registration request.
      </p>
    } @else {
      <p i18n>
        <strong>Check your email</strong> to validate your account and complete your registration.
      </p>
    }
  } @else {
    @if (requiresApproval()) {
      <p i18n>
        Your request will be checked by a moderator, and you'll be sent an email notification as soon as it has been reviewed.
      </p>
    } @else {
      <p i18n>
        If you need help using PeerTube, you can have a look at the <a class="link-primary" href="https://docs.joinpeertube.org/use/setup-account" target="_blank" rel="noopener noreferrer">documentation</a>.
      </p>
    }
  }
</my-alert>
